<h1>Create New User</h1>

<!-- 
<form accept-charset="UTF-8" action="/users" method="post">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

	<label id="user_name">Name</label>
	<input type="text" id="user_name" name="user[name]" /><br />

	<label id="user_email">Email</label>
	<input type="email" id="user_email" name="user[email]" /><br />

	<label id="user_password">Password</label>
	<input type="password" id="user_password" name="user[password]" /><br />

	<input type="submit" name="commit" value="submit" />

</form>
-->
